*, html {
    margin:0;
    padding:0;  
}
.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    display:block;
}
.sml {
    padding: 10px;
}
.nav_bar {
    width: 100%;
    text-align: right;
    margin: 0px;
}
.nav_bar_item {
    display: inline-block;
    padding: 20px;
}
.subheader {
/*    text-align: center;*/
}
.col3 {
    width: 30%;
    float:left;
/*    margin-left:20px;*/
/*    background-color: aliceblue;*/
    padding: 10px;
}
.leftcol {
    width: 20%;
/*    float: left;*/
    display: block;
    margin-left:0;
    margin-right: auto;
}
.rightcol{
    width: 70%;
/*    float: right;*/
    display: block;
    margin-right:0;
    margin-left:auto;
    margin-top:-40px;
}
.content {
    overflow:auto;

    padding: 100px;
}