body {
    margin:0;
    font-family:'Cutive Mono', monospace; 
/*
    background-image: url("images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
*/

}

}
.section {
/*    height: 600px;*/
/*    height: 100%;*/
/*    display: block;*/
/*    overflow:auto;*/
/*    padding: 100px;*/
}
.content {
/*    height: 100%;*/
/*    display: inline-block;*/
    overflow:auto;
/*
    padding-left:auto;
    padding-right:auto;
*/
/*
    padding-top:100px;
    padding-bottom:100px;
*/
/*    align-content: center;*/
    padding: 100px;
    
    margin: 0 auto;
}
.content2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.row  {
    overflow:hidden;
    width:100%;
}
.menu-element {
/*    width: 50px;*/
    height:50px;
    float:left;
    padding: 20px;
}
.menu {
    font-size: 20px;
    color:antiquewhite
        
}
.skills {
    width: auto;
}
.row-element {
/*
    float: left;
    padding: 50px;
    width:20%;
    margin-right:auto;
    margin-left:auto;
*/
/*    display:inline-block;*/
 
}
.row-element-3 {
    background-color: azure;
    height: 300px;
    width: 300px;
    float:left;
/*    margin: 20px;*/
    border-radius: 25px;
/*    grid-row: 1/3;*/
}



.footer {
    height: 200px;
    background-color: #50555b;
}
.header {
    height:50px;
    background-color: #50555b;
    padding: 30px 100px 0px 100px;

}

#s1 {
/*    background-color:#dcedec;*/
/*    background: linear-gradient(#fcad97, azure);*/
    background-image: url("images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
/*    opacity: 0.5;*/

}
#s2 {
/*    background-image: url("images/bg2.jpg");*/
/*    background-color: azure;*/
/*    background: linear-gradient(azure,white);*/
/*    height:440px;*/
/*    margin:auto;*/

}
#c2{
    max-width: 1060px;
    padding: 100px;
    
    margin: 0 auto;
}
#s3 {
    background-color: dimgray;
/*    height: 600px;*/
}
#kasey {
/*    text-align: center;*/
/*    color: #053a37;*/
    color: black;
    font-family:'Cutive Mono', monospace;
    font-size: 80px;
    margin-bottom: 0px;
    opacity: 0.68;
    background-color:white;
}
#intro {
    background-color: azure;
    opacity:0.78;
    width: 500px;
    padding: 50px;
    font-size: 20px;
    border-radius: 25px;
}
#description {
    text-align: center;
    color: #053a37;
    font-family:'Cutive Mono', monospace; 
}

#skills {
    padding: 50px;
    width:70%
    height:auto;
    margin-left: auto;
    margin-right:auto;
}

#headshot {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    display: inline-block;
}

#about_me{
    height: 320px;
    width: 500px;
    background-color:#f4efeb;
    float:left;
    display: inline-block;
    border-radius: 25px;
    padding: 40px;
    margin: 20px;
/*
    display: inline block;
    margin-right:none;
*/
    
}
.grid-skills {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
    padding:0 40px;
        
}
.grid-skills>div { 
/*  background-color: rgba(255, 255, 255, 0.8);*/
    text-align: center;
    padding:40px;
    font-size: 30px;
    background-color: azure;
    border-radius: 15px;
    
    
}
.grid-container {
  display: grid;
/*  grid-template-columns: auto auto auto auto;*/
    grid-template-rows: autofill, 400px;
/*  grid-gap: 10px;*/
    grid-column-gap: 10px;
  background-color: #2196F3;
  padding:0 10px;
    
}
.grid-container>div { 
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:40px;
  font-size: 30px;
    width: 200px;
    
      grid-column-start: auto;
  grid-row-start: auto;
    
}
#headshot1 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin: 0 auto;
}
#about_me1{
    height: 320px;
    width: 500px;
    background-color:#f4efeb;
    border-radius: 25px;
    padding: 40px; 
    display:inline-block;
    margin: 0 auto;
}

#am1{
    grid-area: image;
}
hs1 {
    grid-area: about;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
    "image" "about";
    

}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
      "image about";
  }