body {
    margin:0;
    font-family:'Cutive Mono', monospace; 
}
}
.section {
/*    height: 600px;*/
}
#s1 {
/*    background-color:#dcedec;*/
    background: linear-gradient(#fcad97, azure);
}
#s2 {
/*    background-color: azure;*/
    background: linear-gradient(azure,white);
/*    height:600px;*/
}
#s3 {
    background-color: cornsilk;
}
.footer {
    height: 200px;
    background-color: #50555b;
}
.header {
    height:50px;
    background-color: #50555b;
    padding: 30px 100px 0px 100px

}
#kasey {
    text-align: center;
    color: #053a37;
    font-family:'Cutive Mono', monospace;
    font-size: 80px;
    margin-bottom: 0px;
}
#description {
    text-align: center;
    color: #053a37;
    font-family:'Cutive Mono', monospace; 
}
.content {
    height: 100%;
    padding:150px;
}
.row  {
    overflow:hidden;
    width:100%;
}
.menu-element {
/*    width: 50px;*/
    height:50px;
    float:left;
    padding: 20px;
}
.menu {
    font-size: 20px;
    color:antiquewhite
        
}
.section-header {
    text-align: center;
}
#skills {
    padding: 50px;
    width:70%
    height:auto;
    margin-left: auto;
    margin-right:auto;
}
.skills {
    width: auto;
}
.row-element {
    float: left;
    padding: 50px;
/*    width:20%;*/
    margin-right:auto;
    margin-left:auto;
}